<div class="page-header clearfix">
    <h1>RULES</h1>
</div>
<div class="row">
    <div class="col-lg-12">
        <h2>Rules</h2>
        <div class="col-md-12">
            <table class="table table-striped table-hover device-table">
                <thead>
                    <tr>
                        <th class="device-table">#</th>
                        <th>Name</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="rule in rules">
                        <td>{{ $index + 1}}</td>
                        <td>{{ rule.name }}</td>
                        <!--
<td>{{ device.lastTriggered | amCalendar }}</td>
<td>{{ device.state }}</td>
<td>
    <span ng-show="device.state" class="label label-danger device-toggle-span" ng-click="toggleDeviceState(device)">Turn off</span>
    <span ng-hide="device.state" class="label label-success device-toggle-span" ng-click="toggleDeviceState(device)">Turn on</span>
</td>
-->
                    </tr>
                </tbody>
            </table>
            <a href="#" class="btn btn-primary" ng-click="addRule()">Add Rule</a>
        </div>
    </div>
</div>