.debug {
    /*    border: 1px solid red;*/
}

.row-centered {
    text-align: center;
}

.col-centered {
    display: inline-block;
    float: none;
    text-align: left;
    margin-right: -4px;
}

.login-panel {
    margin-top: 42px;
}

footer {
    padding: 20px;
    display: table;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.device-table {
    text-align: center;
}

.device-table th {
    text-align: center;
}

.device-toggle-span {
    cursor: pointer;
    margin-left: 25px;
    font-size: 10px;
}

.form-input {
    width: 150px;
}

.add-rule-modal-separator {
    padding: 20px;
    text-align: center;
}

.font-bold {
    font-weight: 400;
}

.btn-alarm {
    width: 150px;
}

.glyph-badge {
    margin-left: 10px;
}

.glyph-dashboard {
    font-size: 100px;
}

.btn-dashboard {
    width: 100%;
    padding: 20px 0px;
}

.bs-docs-section {
    margin-top: 1.5em;
}

.section {
    margin-bottom: 20px;
}
/* Misc */

.vertical-align {
    display: flex;
    align-items: center;
}

.horizontal-align {
    display: block;
    text-align: center;
}

.no-margin {
    margin: 0px;
}

.no-padding {
    padding: 0 !important;
    margin: 0 !important;
}